html,body,#root,.App{
  height: 100%;
  margin:0;
  background-color: #282c34;
}


.App {
  text-align: center;
  
  color: white;
}


.App-header {
  
  display: flex;
  flex-wrap: nowrap;
  font-size: calc(10px + 2vmin);
  
  justify-content: space-around;
  height: 10%;
  
}
.App-body{
  height: 90%;
  
}
.menu{
  width: 100%;

}.ligne{
  
  display: flex;
}
.case{
  background-color:red;
  width:50px;
  height: 50px;
  margin:2px;
}
.zoneChat{
  background-color:rgb(36, 35, 35);
  width: 300px;
  height: 500px;
}
.ListMSG{
  height: 470px;
  overflow: auto;
  scroll-behavior: smooth;

}

