html,body,#root,.App{
  height: 100%;
  margin:0;
}


.App {
  text-align: center;
  background-color: #282c34;
}


.App-header {
  
  display: flex;
  flex-wrap: nowrap;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-around;
  height: 10%;
  
}
.App-body{
  height: 90%;
  background-color:rgb(51, 49, 49);
}
.menu{
  width: 100%;

}.ligne{
  
  display: flex;
}
.case{
  background-color:red;
  width:50px;
  height: 50px;
  margin:2px;
}
.zoneChat{
  background-color: red;
  width: 300px;
  height: 500px;
  
}

